.body {
    font-family: 'Bodoni 72', 'sans-serif';
    font-size: 24px;
    font-style: normal;
    text-align: center;
}

.title {
    font-family: 'Bodoni 72', 'sans-serif';
    font-size: 32px;
    font-style: normal;
    text-align: center;
}

.ol {
    font-family: 'Bodoni 72', 'sans-serif';
    font-size: 32px;
    font-style: normal;
    text-align: center;
}